Source: sonic-unis-framework
Section: unknown
Priority: optional
Maintainer: unknown <alex@unknown>
Build-Depends: debhelper (>= 10), dh-systemd (>=1.5)
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/sonic-unis-framework.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/sonic-unis-framework.git

Package: sonic-unis-framework
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
